.header01 {
    position: fixed;
    overflow: hidden;
    z-index: 100;
    width: -webkit-fill-available;
    }

.page-header {
    margin-top:70px;
}
.alert-danger {
    margin-top: 60px;
}

.alert-info {
    margin-top: 60px;
}
.alert-success {
    margin-top: 60px;
}
.alert-warning {
    margin-top: 60px;
}

.nav-tabs {
    margin-top: 70px;
}

.subject-task {
    border-bottom: solid 3px #C0C0C0;
}